# Remove directories
prune .github
prune build
prune dist
prune docs

# Remove file types
global-exclude *.pyc *.o *.so *.DS_Store *.ipynb

# Remove remote data directory
recursive-exclude pypeit/data/remote *.gz *.fits *.npz

# Remove individual files
exclude .gitignore



